/*font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/**

	TODO:
	- line 32 I cutted img with overflow: hidden;
	- 

 */
/*=============================================
     =            HEADER & NAV           =
=============================================*/



/*===  End of HEADER & NAV comment block  ===*/


/*=============================================
     =            MAIN CONTENT           =
=============================================*/
.img-carousel {
	width: 100%;
}

.divs-wrapper {
	background-color: #ccc;
}

.pic-wrapper, .about-us-wrapper {
	overflow: hidden;
}

.journal-wrapper {
	background-color: #0f9095;
}
/*===   End of MAIN CONTENT comment block  ===*/



/*=============================================
      =            FOOTER           =
=============================================*/



/*=====  End of FOOTER  comment block  =====*/