/**
	TODO:
	- when resolution is <=767px need to place correctly divs inside 
	article first-user-review, second-user-review & third-user-review

	- pagination on lower resolution

	- problem with <li> <a> journal when it's come down to <= 767px
/*
=============================================
					Legend:
1. General style					
2. Blog:
	a: reviews articles
	b: pagination article 
	c: navigation article
	d: footer Blog
3. Blog single page
=============================================*/


/*=============================================
1. GENERAL STYLE            
=============================================*/
.wrapper-container {
	background: url('../images/patterns/grey.png') repeat;
}
.img-blog {
	width: 100%;
}
nav.navbar.navbar-inverse {
    background-color: #232629;
    border-color: #080808;
}
nav.navbar {
	font-family: 'OpenSans-Regular', sans-serif;
    margin-bottom: 0;
    border: 0;
}
ul.nav.navbar-nav li a,
ul.nav.navbar-nav .active-elem a:hover {
	color: #fff;
}
ul.nav.navbar-nav li a:hover {
	color: #11ABB0;
	transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;	
}
#bs-example-navbar-collapse-1 .navbar-nav>.active>a, 
#bs-example-navbar-collapse-1 .navbar-nav>.active>a:focus, 
#bs-example-navbar-collapse-1 .navbar-nav>.active>a:hover,
li.active-elem, ul.nav.navbar-nav .active a {
	background-color: #0f9095;
}
footer {
	padding: 20px 0;
	font: 14px/24px 'OpenSans-Regular', sans-serif;
	background-color: #070707;
	color: #303030;
}
.anchor-tag-footer {
	text-decoration: none;
	-moz-transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
	transition: color 0.15s linear;
	text-decoration: none;
	color: #11abb0;
	cursor: pointer;
}
.border-break-footer {
	color: #11abb0;
	margin: 0 10px;
}
.anchor-tag-footer:hover {
	text-decoration: none;
	color: #fff;
}
div.col-sm-5.footer-anchors>a i:hover{
	color: #fff;
	transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
}
.footer-anchors>a{
	margin-right: 20px;	
}
.footer-anchors a:hover {
	text-decoration: none;
}
.footer-anchors a i {
	color: #0B686B;
	font-size: 18px;
}
@media screen and (max-width: 767px) {
	div.col-sm-5.footer-anchors, div.col-sm-7 p.copyright-site,
	div.col-sm-9 ul.blog-page-navigation, div.col-sm-3.btn-back-to-top {
		text-align: center;
	}
	div.col-sm-3.btn-back-to-top {
		margin-bottom: 50px;
	}
	ul.nav.navbar-nav li a{
		margin-left: 20px;
	}
}
input:focus, textarea:focus {
	background-color: #11abb0;
	-moz-transition: background-color 0.15s ease-in-out;
	-webkit-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	-ms-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s linear;
}
/*=====  End of GENERAL STYLE   ======*/


/*=============================================
2. BLOG STYLE            
=============================================*/
/*-----------------------------  
a: reviews articles  
------------------------------*/
.first-user-review, .second-user-review, .third-user-review {
	font-family: 'OpenSans-Regular', sans-serif;
	padding: 135px 0 100px 0;
}
.name-of-the-user-post a {
	cursor: default;
	font: 45px/60px 'Montserrat-Regular', sans-serif;
	color: #000;
	text-decoration: none;
}
.name-of-the-user-post a:hover,
.style-date-elem-of-category a:hover {
	-moz-transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
	transition: color 0.15s linear;
	text-decoration: none;
	color: #11abb0;
	cursor: pointer;
}
.blog-para-categories-published {
	text-align: right;
    margin-top: 16px;
}
.style-para-publish-category {
	font-size: 14px;
	line-height: 24px;
	color: #0C0C0C;
	font-weight: bold;
}

.style-date-elem-of-category {
	font-size: 14px;
	line-height: 24px;
	color: #bec0c1;
}
.style-date-elem-of-category a {
	font-size: 14px;
	line-height: 24px;
	color: #bec0c1;
	text-decoration: none;
}
.img-blog {
	padding: 57px 0 54px 0;
}
.text-of-the-post-blog {
	font: 20px/36px 'OpenSans-Light', sans-serif;
	color: #838c95;
	padding-bottom: 40px;
}
.read-more-button a {
	font: 14px/30px 'OpenSans-Bold', sans-serif;
	color: #fff;
	background-color: #838A91;
	text-decoration: none;
}
.read-more-button a:hover {
	-moz-transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
	transition: color 0.15s linear;
	background-color: #11abb0;
	color: #fff;
	text-decoration: none;
}
/*-----------------------------  
b: pagination article  
------------------------------*/
.pagination-of-blog {
    padding: 20px 0 90px 0;
}
.pagination li a, .pagination li span {
	margin-right: 6px;
	font: 15px/18px 'OpenSans-Bold', sans-serif;
}
.links-to-sites {
	background-color: #ccc;
}
.pagination li.active span,
.pagination li.active span:hover {
	background-color: #11abb0;
    border: 1px solid #11abb0;
    border-radius: 3px;
}
ul.pagination li.disabled span,
ul.pagination li.disabled span:hover {
	border-radius: 3px;
	background-color: #E6E8EB;
	color: #6E757C;
}
ul.pagination>li>a {
	border-radius: 3px;
	color: #6E757C;
	background-color: #E6E8EB;
}
ul.pagination>li>a:hover {
	border-radius: 3px;
	background-color: #838A91;
	color: #fff;
}
/*-----------------------------  
c: navigation article  
------------------------------*/
.links-to-sites {
	list-style-type: none;
	background-color: #E6E8EB;
}
.links-to-site ul.blog-page-navigation>li {
	text-align: left;
}
.blog-page-navigation li.curr-elem a,
.blog-page-navigation li.curr-elem a:hover {
	color: #11abb0;
}
ul.blog-page-navigation{
	padding: 10px 0 30px;
	padding-left: 0px;	
}
ul.blog-page-navigation li {
    margin:10px 15px 0 0;
	display: inline-block;
}
ul.blog-page-navigation li a {
	text-decoration: none;
	color: #A0A6AB;
	font: 13px/18px 'OpenSans-Semibold', sans-serif;
}
ul.blog-page-navigation li a:hover {
	text-decoration: none;
	color: #434343;
}
.back-to-top-anchor {
	margin-top: 20px;
}
/*-----------------------------  
d: footer Blog  
------------------------------*/
div .back-to-top-anchor a,
div .back-to-top-anchor a:hover {
	text-decoration: none;
	font: 13px/30px 'OpenSans-Bold', sans-serif;
	color: #11abb0;	
}
div.col-sm-5.footer-anchors .style-rss-feed {
	margin-right: 0;
}
/*=====  End of BLOG STYLE   ======*/


/*=============================================
3. BLOG-SINGLE-PAGE STYLE            
=============================================*/
.img-blog-single {
	padding: 57px 0 54px 0;
}



/*=====  End of BLOG-SINGLE-PAGE STYLE   ======*/